# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Secrets (if you were to ever store them locally, which you shouldn't commit)
.env
secrets.py
